# --- OpenAI & LangChain ---
GOOGLE_API_KEY=your_key
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=your_key
LANGCHAIN_PROJECT="mju-ai-agent"

# --- Database (Supabase - Pooler Connection) ---
DB_USER=your_key
DB_PASSWORD=your_key
DB_HOST=your_key
DB_PORT=6543
DB_NAME=postgres

# --- Redis (Upstash) ---p
REDIS_HOST=your_key
REDIS_PASSWORD=your_key
REDIS_PORT=6379

# 랭체인 연결용 URL 형식 (필요시 사용)
REDIS_URL=your_key

# --- Server Settings ---
PORT=8000
JAVA_BACKEND_URL=http://localhost:8080

# Duffel API 설정 - flight_api 키 & accomoodation_api 키
DUFFEL_API_KEY=your_key